// colors
$avs-primary-cl: #007acc;
$avs-regular-dark-blue-cl: #005c99;
$avs-regular-yellow-cl: #ffdd00;
$avs-regular-white-cl: #fff;
$avs-regular-black-cl: #000;

// components
$avs-regular-divider-border-cl: #e6e6e6;
$avs-regular-bg-cl: #2d2d2d;
