@use "colors";
@use "text-fonts";

#change-password-form {
    width: 100%;

    h1 {
        text-align: center;
        font-size: 24px;
        margin-bottom: 20px;
    }
    .form-group {
        margin-bottom: 15px;
        margin-top: 20px;

        label {
            display: block;
            padding-left: 5px;
        }
    }
    .form-group {
        input[type="text"],
        input[type="email"],
        input[type="password"],
        input[type="file"] {
            width: 100%;
            padding: 8px;
            margin-top: 5px;
            border: 2px colors.$avs-account-bg-cl solid;
            border-radius: 5px;
            box-shadow: none;
        }
        input {
            &:focus {
                outline: 2px white solid;
            }
        }
        .radio-group {
            display: flex;
            align-items: center;
            margin-top: 5px;

            input {
                margin: 0;
                margin-right: 5px;
                cursor: pointer;
            }
            label {
                margin-right: 25px;
            }
        }
        small {
            display: block;
            margin-top: 5px;
        }
        .invalid-message {
            display: flex;
            column-gap: 10px;
            padding: 0 10px;
            color: red;
            margin-top: 5px;

            i {
                color: red;
            }
        }
    }
    .submit-btn {
        width: 100%;
        padding: 8px;
        background-color: colors.$avs-primary-cl;
        border: 2px colors.$avs-account-bg-cl solid;
        border-radius: 5px;
        color: white;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        margin-top: 10px;

        &:hover {
            outline: 2px colors.$avs-primary-cl solid;
        }
    }
}
