@use "text-fonts";
@use "colors";

$local-var-primary-color: colors.$avs-primary-cl;
$local-var-secondary-color: #ffffff;

body {
    padding: 0;
    margin: 0;
    background-color: colors.$avs-regular-bg-cl;
}

div,
a,
p,
button,
input,
section,
textarea {
    font-family: text-fonts.$avs-primary-fontf;
    font-weight: normal;
    outline: none;
}

input,
textarea {
    border: none;
}

button {
    border: none;
    cursor: pointer;
}

i {
    color: colors.$avs-regular-black-cl;
    font-size: 1rem;
}

a {
    text-decoration: none;
    cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

#page-main {
    box-sizing: border-box;
}

.dropdown-menu {
    .dropdown-item {
        &:active {
            background-color: colors.$avs-primary-cl;
            color: black;
        }
        &:hover {
            background-color: #e7e7e7;
            color: black;
        }
    }
}

#toast-container {
    .toast {
        box-shadow: none;
        background-color: #bd362f;
        opacity: 0.9;
    }
}

#page-header {
    padding: 10px 20px;
    top: 0;
    left: 0;
    position: sticky;
    z-index: 90;

    .search-box-navbar {
        display: flex;
        column-gap: 10px;

        .authenticated-user {
            margin-left: 20px;

            .dropdown-menu {
                right: 0;

                .dropdown-item {
                    i {
                        margin-right: 5px;
                    }
                }
            }

            &:hover {
                .dropdown-menu {
                    display: block;
                }
            }

            .user-btn {
                display: flex;
                height: 100%;
                cursor: pointer;
                padding: 0 5px;

                i {
                    font-size: 1.8rem;
                    display: flex;
                    margin: auto;
                    color: white;
                }
            }
        }

        .input-group {
            width: fit-content;
        }

        .login-sign-up-btn {
            display: block;
            padding: 4px 10px;
            border: 2px colors.$avs-primary-cl solid;
            background-color: colors.$avs-primary-cl;
            color: white;
            border-radius: 5px;
            margin-left: 10px;

            &:active,
            &:hover {
                background-color: transparent;
                color: colors.$avs-primary-cl;
            }
        }
    }

    .search-filter-section {
        background-color: $local-var-secondary-color;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        width: calc(100% - 20px);
        position: absolute;
        left: 10px;
        top: calc(100% + 3px);
        z-index: 99;

        .search-filter-modal {
            position: fixed;
            height: 100vh;
            width: 100vw;
            left: 0;
            top: 0;
            z-index: 98;
            background-color: rgba(0, 0, 0, 0.319);
        }
    }
}

#search-form-navbar {
    position: relative;
    z-index: 100;

    .search-input-navbar {
        width: 300px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}

#search-filter-form {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 99;
    padding: 20px;
    background-color: white;
    border-radius: 5px;

    .date-filter-groups {
        display: flex;
        column-gap: 20px;

        .filter-form {
            width: 100%;
        }
    }

    .filter-group {
        margin-bottom: 15px;
        width: 100%;

        label {
            display: block;
            margin-bottom: 5px;
            color: $local-var-primary-color;
            font-weight: bold;
            padding-left: 5px;
        }

        input,
        select {
            width: 100%;
            padding: 8px;
            border: 1px solid #c3c3c3;
            border-radius: 4px;
            outline: none;
        }
    }

    .submit-btn {
        background-color: colors.$avs-regular-dark-blue-cl;
        color: $local-var-secondary-color;
        border: none;
        padding: 10px;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
        width: 100%;

        &:hover {
            background-color: darken(colors.$avs-regular-dark-blue-cl, 10%);
        }
    }
}

#logout-form-section {
    .modal-content {
        .modal-header {
            .modal-title {
                font-weight: bold;
            }
        }
        .modal-footer {
            .cancel {
                border-width: 2px;
            }
            .confirm {
                background-color: colors.$avs-primary-cl;
                color: white;
                border: 2px colors.$avs-primary-cl solid;

                &:hover {
                    background-color: white;
                    color: colors.$avs-primary-cl;
                }
            }
        }
    }
}
