#page-main {
  padding: 0 100px;
}

#type-email-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 30px;
  width: 500px;
  background-color: #333;
  border-radius: 10px;
  padding: 20px;
}
#type-email-form .form-title {
  padding: 1px;
  padding-left: 20px;
  border-left: 5px white solid;
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
}
#type-email-form .form-description {
  margin-top: 15px;
  color: white;
  font-size: 0.9rem;
}
#type-email-form .form-message {
  font-weight: bold;
  width: 100%;
  margin-top: 15px;
  font-size: 0.9rem;
}
#type-email-form .form-message .valid,
#type-email-form .form-message .invalid {
  width: 100%;
  border-radius: 5px;
  padding: 3px 10px;
  font-weight: bold;
  font-size: inherit;
}
#type-email-form .form-message .invalid {
  color: red;
  background-color: #ffc6c6;
}
#type-email-form .form-message .valid {
  color: #3bb03b;
  background-color: #c7ffc6;
}
#type-email-form .form-message i {
  font-size: inherit;
  color: inherit;
}
#type-email-form .form-group {
  margin-top: 10px;
  width: 100%;
}
#type-email-form .form-group .input-wrapper {
  position: relative;
  margin: 3px 0;
  width: 100%;
  margin-bottom: 7px;
}
#type-email-form .form-group .input-wrapper input {
  width: 100%;
  padding: 5px 40px;
  box-sizing: border-box;
  text-align: center;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 5px;
}
#type-email-form .form-group .input-wrapper input:focus + .input-animation {
  transform: scaleX(1);
}
#type-email-form .form-group .input-wrapper .input-animation {
  width: 100%;
  border-bottom: 1.5px gray solid;
  transform: scaleX(0);
  transition: transform 0.2s;
  position: absolute;
  bottom: -8.5px;
  left: 0;
}
#type-email-form .form-group .form-group-message {
  display: flex;
  align-items: center;
  column-gap: 8px;
  color: red;
  margin-top: 5px;
  font-weight: 500;
  font-size: 0.9rem;
  padding-left: 10px;
}
#type-email-form .form-group .form-group-message i {
  font-size: inherit;
  color: inherit;
}
#type-email-form .submit-btn {
  display: flex;
  width: fit-content;
  border-radius: 5px;
  padding: 4px 24px;
  font-weight: bold;
  margin-top: 15px;
  border: 2px #007acc solid;
  background-color: #007acc;
  color: white;
  transition: background-color 0.2s, color 0.2s;
  column-gap: 10px;
}
#type-email-form .submit-btn i {
  color: inherit;
}
#type-email-form .submit-btn .spinner {
  height: 24px;
  width: 24px;
}
#type-email-form .submit-btn:hover {
  background-color: transparent;
  color: #007acc;
}
#type-email-form .submit-btn.on-progress {
  opacity: 0.6;
  pointer-events: none;
}
#type-email-form .sign-in-message {
  display: flex;
  column-gap: 8px;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  border-radius: 5px;
  box-sizing: border-box;
  width: 100%;
  color: red;
  background-color: rgb(255, 152, 152);
  font-weight: 500;
  line-height: 28px;
  margin-top: 30px;
}
#type-email-form .sign-in-message i {
  display: flex;
  color: inherit;
  font-size: inherit;
}

/*# sourceMappingURL=forgot-password-page.css.map */
