@charset "UTF-8";
#page-main {
  padding: 20px;
}
#page-main .series-info-section {
  color: white;
}
#page-main .series-info-section .section-title-box {
  display: flex;
  column-gap: 20px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #555;
  padding-bottom: 5px;
  margin-bottom: 10px;
  padding-left: 10px;
}
#page-main .series-info-section .section-title-box .section-title {
  font-size: 24px;
}
#page-main .series-info-section .series-info {
  border-radius: 8px;
  padding: 20px;
  background-color: #383838;
}
#page-main .series-info-section .series-info .series-title {
  font-size: 24px;
  margin-bottom: 5px;
}
#page-main .series-info-section .series-info .series-title input {
  background-color: transparent;
  width: 100%;
  color: white;
  border: 1px transparent solid;
  padding: 3px 5px;
}
#page-main .series-info-section .series-info .series-title input:hover, #page-main .series-info-section .series-info .series-title input:focus {
  border: 1px #676767 solid;
}
#page-main .series-info-section .series-info .main-content {
  display: flex;
  margin-top: 20px;
}
#page-main .series-info-section .series-info .main-content .series-poster {
  width: 200px;
  border-radius: 8px;
  margin-right: 20px;
  height: fit-content;
}
#page-main .series-info-section .series-info .main-content .details {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
}
#page-main .series-info-section .series-info .main-content .details .select-genres-box {
  padding-left: 0;
  padding-right: 0;
}
#page-main .series-info-section .series-info .main-content .details .select-genres-box .select-genres-btn {
  background-color: white;
  border-color: white;
  color: black;
}
#page-main .series-info-section .series-info .main-content .details .select-genres-box .dropdown-menu .dropdown-item {
  cursor: pointer;
}
#page-main .series-info-section .series-info .main-content .details .episodes {
  background-color: #f00;
  color: #fff;
  padding: 2px 5px;
  border-radius: 5px;
  font-size: 13px;
  display: inline-block;
  margin-bottom: 10px;
}
#page-main .series-info-section .series-info .main-content .details .tags {
  display: flex;
  column-gap: 10px;
  align-items: center;
  margin-bottom: 15px;
}
#page-main .series-info-section .series-info .main-content .details .tags .tags-title {
  font-weight: bold;
}
#page-main .series-info-section .series-info .main-content .details .tags .genres span {
  background-color: #006666;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 13px;
}
#page-main .series-info-section .series-info .main-content .details .tags .add-genre {
  display: flex;
  column-gap: 5px;
  align-items: center;
  border-radius: 5px;
  border: 2px white solid;
}
#page-main .series-info-section .series-info .main-content .details .tags .add-genre i {
  display: flex;
}
#page-main .series-info-section .series-info .main-content .details .tags .add-genre:hover {
  background-color: transparent;
  color: white;
}
#page-main .series-info-section .series-info .main-content .details .tags .add-genre:hover i {
  color: white;
}
#page-main .series-info-section .series-info .main-content .details .series-description {
  font-size: 15px;
  line-height: 1.6;
  height: 220px;
  width: 100%;
  overflow-y: auto;
  margin-top: 10px;
  color: white;
  background-color: transparent;
  border: 1px transparent solid;
  padding: 3px 5px;
}
#page-main .series-info-section .series-info .main-content .details .series-description::-webkit-scrollbar {
  /* Màu sắc thanh cuộn */
  background-color: transparent;
}
#page-main .series-info-section .series-info .main-content .details .series-description::-webkit-scrollbar-thumb {
  /* Màu sắc thanh trượt */
  background-color: rgba(153, 153, 153, 0.3333333333);
}
#page-main .series-info-section .series-info .main-content .details .series-description::-webkit-scrollbar {
  width: 7px;
  border-radius: 5px;
}
#page-main .series-info-section .series-info .main-content .details .series-description::-webkit-scrollbar-thumb {
  height: 20px;
  border-radius: 10px;
}
#page-main .series-info-section .series-info .main-content .details .series-description:hover::-webkit-scrollbar-thumb {
  /* Màu sắc thanh trượt */
  background-color: #999999;
}
#page-main .series-info-section .series-info .main-content .details .series-description:hover, #page-main .series-info-section .series-info .main-content .details .series-description:focus {
  border: 1px #676767 solid;
}
#page-main .series-info-section .series-info .submit-btn-box {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
#page-main .series-info-section .series-info .submit-btn-box button {
  padding: 5px 20px;
  background-color: white;
  border-radius: 5px;
  font-weight: bold;
  width: 100%;
  border: 2px white solid;
}
#page-main .series-info-section .series-info .submit-btn-box button:hover {
  background-color: transparent;
  color: white;
}
#page-main .series-info-section .first-words {
  padding: 5px 10px;
  margin-bottom: 10px;
  font-size: 0.9rem;
  border-radius: 5px;
  background-color: #383838;
}
#page-main .episodes-section {
  border: 1px #555454 solid;
  color: white;
  margin-top: 20px;
}
#page-main .episodes-section .section-title {
  display: inline-block;
  font-size: 16px;
  border-bottom: 2px solid #f00;
  padding: 13px;
  padding-bottom: 5px;
}
#page-main .episodes-section .total-videos {
  font-size: 14px;
  padding: 13px;
  border: 1px #555454 solid;
}
#page-main .episodes-section .episodes-list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 100%;
  padding: 13px;
  border-radius: 8px;
  height: 403px;
  overflow-y: auto;
}
#page-main .episodes-section .episodes-list .episode {
  display: flex;
  height: 62px;
  width: 100%;
  cursor: pointer;
  color: white;
}
#page-main .episodes-section .episodes-list .episode .episode-number {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.3215686275);
  width: 105px;
  height: 100%;
  border-radius: 4px;
  margin-right: 10px;
}
#page-main .episodes-section .episodes-list .episode .episode-number .value {
  transition: transform 0.2s;
}
#page-main .episodes-section .episodes-list .episode .episode-info {
  width: 100%;
}
#page-main .episodes-section .episodes-list .episode .episode-info .episode-title {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
  white-space: pre-wrap;
  width: 100%;
}
#page-main .episodes-section .episodes-list .episode .episode-info .episode-title.active {
  color: #00f4ff;
}
#page-main .episodes-section .episodes-list .episode .episode-info .episode-views {
  display: flex;
  line-height: 0.9rem;
  font-size: 12px;
  color: #bbb;
}
#page-main .episodes-section .episodes-list .episode:hover .episode-number .value {
  transform: scale(1.5);
}
#page-main .episodes-section .episodes-list .episode:hover .episode-info .episode-title {
  color: #ff2525;
}

#chips-container {
  margin-top: 10px;
}
#chips-container .chip {
  display: inline-flex;
  align-items: center;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 16px;
  cursor: pointer;
  border-color: white;
  color: white;
  column-gap: 5px;
}
#chips-container .chip .btn-close {
  margin-left: 0.25rem;
}
#chips-container .chip:hover {
  background-color: white;
  color: black;
}
#chips-container .chip i {
  display: flex;
  color: red;
}
#chips-container .chip i:hover {
  transform: scale(1.3);
}

/*# sourceMappingURL=update-series-page.css.map */
