#page-main {
  color: white;
}
#page-main .upload-video-container {
  padding: 20px;
  background-color: transparent;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
#page-main .upload-video-container .notice {
  margin: 0 20px 20px;
  text-align: center;
}
#page-main .upload-video-container .notice .required {
  color: red;
  font-size: 1.1rem;
}
#page-main .upload-video-title {
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

#upload-video-form .form-group {
  margin-bottom: 20px;
}
#upload-video-form .form-group.movie-genre .select-genres-box {
  padding-left: 0;
  padding-right: 0;
}
#upload-video-form .form-group.movie-genre .select-genres-box .select-genres-btn {
  background-color: white;
  border-color: white;
  color: black;
}
#upload-video-form .form-group.movie-genre .select-genres-box .dropdown-menu .dropdown-item {
  cursor: pointer;
}
#upload-video-form .form-group .invalid-message {
  color: red;
  margin-top: 3px;
  padding-left: 5px;
  font-size: 0.9rem;
}
#upload-video-form .form-group .required {
  color: red;
  font-size: 1.1rem;
}
#upload-video-form .form-group label {
  display: block;
  font-weight: bold;
  color: #fff;
  padding-left: 5px;
}
#upload-video-form .form-group input[type=text],
#upload-video-form .form-group input[type=file],
#upload-video-form .form-group input[type=date],
#upload-video-form .form-group textarea,
#upload-video-form .form-group select {
  width: 100%;
  padding: 10px;
  margin-top: 3px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
#upload-video-form .form-group textarea {
  resize: vertical;
}
#upload-video-form .form-group button {
  display: inline-block;
  width: 100%;
  padding: 8px;
  background-color: #007acc;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
  border: 3px #007acc solid;
}
#upload-video-form .form-group button:hover {
  background-color: transparent;
  color: #007acc;
}

#movie-cover-preview {
  margin-top: 20px;
  position: relative;
}
#movie-cover-preview .movie-cover-preview {
  width: 100%;
}
#movie-cover-preview .cancel-movie-cover-btn {
  position: absolute;
  top: 0;
  right: 0;
  top: -10px;
  right: -10px;
  cursor: pointer;
}
#movie-cover-preview .cancel-movie-cover-btn i {
  display: flex;
  color: red;
  font-size: 1.2rem;
}
#movie-cover-preview .cancel-movie-cover-btn:hover {
  transform: scale(1.1);
}

#chips-container {
  margin-top: 10px;
}
#chips-container .chip {
  display: inline-flex;
  align-items: center;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 16px;
  cursor: pointer;
  border-color: white;
  color: white;
  column-gap: 5px;
}
#chips-container .chip .btn-close {
  margin-left: 0.25rem;
}
#chips-container .chip:hover {
  background-color: white;
  color: black;
}
#chips-container .chip i {
  display: flex;
  color: red;
}
#chips-container .chip i:hover {
  transform: scale(1.3);
}

/*# sourceMappingURL=upload-series-page.css.map */
